.responder-circle {
	width: 1.805rem;
	height: 1.805rem;
	border-radius: 1.805rem;
	background: #1e2b49;
	/*position: relative;*/
	/*top:0;*/
	/*left:6rem;*/
	z-index: 121;
}

#myCanvas {
	width: 1.805rem;
	height: 1.805rem;
	border-radius: 1.805rem;
	position: absolute;
	left: -0.0025rem;
	top: 0.00rem;
}

.myCanvas-bg-div {
	width: 1.725rem;
	height: 1.725rem;
	border-radius: 1.725rem;
	border: 0.02rem solid #074496;
	position: absolute;
	left: 0.04rem;
	top: 0.04rem;
	z-index: -1;
}

.responder-black-circle {
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 1.6rem;
	border: 0.04rem solid #041128;
	position: absolute;
	left: 0.0975rem;
	top: 0.0975rem;
}

.responder-begin-circle {
	width: 1.36rem;
	height: 1.36rem;
	border-radius: 1.36rem;
	position: absolute;
	top: 0.2175rem;
	left: 0.2175rem;
	line-height: 1.36rem;
	text-align: center;
	background: url('../img/call/responder_begin_bg.png') no-repeat center center;
	background-size: 100% 100%;
	color: white;
	font-size: 0.1rem;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.responder-begin-circle:hover {
	background: #074496;
	cursor: pointer;
}

.responder-begin-circle.disabled {
	background: url('../img/call/responder_begin_bg.png') no-repeat center center;
	background-size: 100% 100%;
}

.responder-close-img {
	width: 1.5rem;
	height: 0.38rem;
	position: absolute;
	left: 0.14rem;
	bottom: 0.23rem;
	background: url('../img/call/responder-move-close.png') no-repeat center center;
	background-size: 100% 100%;
	line-height: 0.5rem;
	color: white;
	text-align: center;
	font-size: 0.1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.responder-close-img:hover {
	background: url('../img/call/responder-enter-close.png') no-repeat center center;
	background-size: 100% 100%;
	cursor: pointer;
}

.responder-restart-img {
	width: 1.26rem;
	height: 0.32rem;
	position: absolute;
	line-height: 0.32rem;
	text-align: center;
	color: white;
	left: 0.27rem;
	bottom: 0.49rem;
	background: url('../img/call/responder-move-ellipse.png') no-repeat center center;
	background-size: 100% 100%;
	cursor: pointer;
	display: none;
	font-size: 0.1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.responder-restart-img:hover {
	background: url('../img/call/responder-enter-ellipse.png') no-repeat center center;
	background-size: 100% 100%;
	cursor: pointer;
}

.responder-circle-student {
	width: 1.805rem;
	height: 1.805rem;
	border-radius: 1.805rem;
	background: #1e2b49;
	margin: auto;
	position: absolute;
	z-index: 110;
	display: none;
}

#top-circle {
	width: 2.8rem;
	height: 2.8rem;
	border-radius: 1.4rem;
	position: absolute;
	left: 0.10rem;
	top: 0.10rem;
}

.responder-black-circle-student {
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 1.6rem;
	border: 0.04rem solid #041128;
	position: absolute;
	left: 0.0975rem;
	top: 0.0975rem;
}

.responder-begin-circle-student {
	width: 1.36rem;
	height: 1.36rem;
	border-radius: 1.36rem;
	position: absolute;
	top: 0.2175rem;
	left: 0.2175rem;
	line-height: 1.36rem;
	text-align: center;
	background: url('../img/call/responder_begin_bg.png') no-repeat center center;
	background-size: 100% 100%;
	color: white;
	font-size: 0.1rem;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.responder-begin-circle-student:hover {
	background: #074496;
	cursor: pointer;
}

.responder-begin-circle-student.disabled {
	background: url('../img/call/responder_begin_bg.png') no-repeat center center;
	background-size: 100% 100%;
}